.top-bar{
    /* background-color:blue;
    background-image: url("../img/pattern.png") cover;
} */
    background-color: #66B2FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
}
.logo{
    width: 20%;
    padding-top: 50px;
}
.title{
    font-size: 32px;
    margin:0;
    
}
.grey-text{
    color: grey;
    font-weight: bold;
}
#blue-text{
    color: #66B2FF;
}
.sub{
    font-weight: 100;
    font-size: 11px;
    margin:0;
}
.text-body {
    font-size: 15px;
    text-align: left;
}
.backyellow{
    background-color: yellow;
}
.column3 {
    width: 50%;
}
thead{
    background-color: #66B2FF;
    color: white;
}
.lightblue {
    background-color: lightblue;
}

.container{
    position:relative;
    width: 80%;
}
.over-img{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top:5px;
    left: 3px;
    color: white;
}
